version: '3.8'

services:
  grpc-server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "50051:50051"
    networks:
      - racing-net

  web-client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - grpc-server
    networks:
      - racing-net

networks:
  racing-net:
    driver: bridge